extends template
block content
    div.content
        h1.title Hello #{name}!
        br
        p Welcome to ours website.
        br
        a(href='google.com').link Click here to activate your account.
        br
        br
        p #{name}, you have last step away from using our wonderful service. You can always be close to your friends and acquaintances. Our service is the best you've seen in your life. Subscribe to updates on our social networks. We will be close!

