extends template
block content
    div.content
        h1.title Hello #{name}!
        br
        p Welcome to ours website again. We help you restore your password.
        br
        a(href=urlWithToken).link Click here to reset password.
        br
        br
        p #{name}, this message was sent automatically. If you did not press the button "forgot password", contact support. Good day!

