doctype html
html
    head
        style
            include style.css

    body
        div.header
            h3
                b Odnoklassniki
        div
            block content

        div.footer
            a(href='https://github.com/feden2906').footer-link GitHub
            a(href='https://www.linkedin.com/in/maksym-fedenko-22a5781b9/').footer-link LinkedIn
            a(href='https://www.facebook.com/profile.php?id=100001751738925').footer-link Facebook
            a(href='https://www.instagram.com/maksfedenko/').footer-link Instagram

